body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

.navbar a{
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #575757;
}

.navbar li {
    float: left;
}

.home{
    background-image: url("images/blackhole.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

    color: black;


    display:flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    height:100vh;
}

.about-me{
    background-color: #f0f0f0;
    padding: 50px;

    display: flex;
    justify-content: space-evenly;
}

.about-me-content{
    max-width: 600px;
    margin-bottom: 20px;
    flex:1;
}

.profile{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    border: 5px solid #333;
}